*{
    margin: 0;
}
/* Cabeçalho */
geral{
    background-color: rgb(255, 255, 255);
}

.cabecalho{
    background-color: black;
    width: 100%;
    border-bottom: 2px dashed orange;
    //border: 5px dotted;
    //border-color: chartreuse;
    padding: 10px;
}
.cabecalho-titulo{
    font-family: brush script mt;
    font-size: 100px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: rgb(255, 0, 140);
}
.cabecalho-subtitulo{
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 0, 140);
}
/* Menu Navegação */
.cabecalho-menu{
    background-color: rgb(255, 0, 140);
    border-bottom: 1.5px solid black;
    margin: 0;
    display: flex;
    justify-content: center;
}

.cabecalho-menu-item{
    text-decoration: none;
    font-family: tahoma;
    font-size: 22px;
    color:white;
    text-shadow: 4px 2px 3px rgba(0,0,0,0.5);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.cabecalho-menu-item:hover{
    background-color: black;
    color: white;
}

.cabecalho-menu-item:active{
    background-color: rgb(255, 0, 140);
}

/* divisoria de conteudo à esquerda com conteudo lateral à direita */

.divisoria-conteudo{
    display: flex;
    width: 80%;
    margin: auto;
}


/* main conteudo com as sections de conteudo principal */
.conteudo{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Alinhando divs ao centro da página */
}
.conteudo-principal{
    background-color: rgba(250, 228, 228, 0.647);
    border: 2px solid;
    border-color: rgb(255, 0, 140);
    border-radius: 10px;
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;

}
.conteudo-principal-titulo{
    font-family: arial;
    margin-bottom: 5px;
    margin-left: 35px;
}
.conteudo-principal-texto{
    margin: 10px;
}




/* Aside */
.conteudo-lateral{
    background-color: white;
    border: 2px solid;
    border-color:rgb(255, 0, 140);
    border-radius: 10px;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: arial;
    text-align: center;
}
.conteudo-lateral-divisoria-imagem{
    border: 5px solid powderblue;
    width: 200px;
}
.conteudo-lateral-divisoria-legenda{
    margin-top: 3px;
    margin-bottom: 20px;
}

/* Rodapé */
.rodape{
    color: gray;
    text-align: center;
}
.rodape-direitoautoral{
    color: gray;
    text-align: center;
}